@page
@model CIDM3312_Final_Project.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    var recipeSort = "recipe_asc";
                    if (Model.CurrentSort == "recipe_asc")
                    {
                        recipeSort = "recipe_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@recipeSort">@Html.DisplayNameFor(model => model.Recipe[0].RecipeName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].RecipeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Ingredient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Instruction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Recipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Instruction)
            </th>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RecipeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RecipeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RecipeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
@{
    var prevDisabled="";
    var nextDisabled="";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
    else if (Model.PageNum >= 10)
    {
        nextDisabled ="disabled";
    }

}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
        <li class="page-item @nextDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
    </ul>
</nav>
